- var data = hero;
section.section.hero
  .container
    .row.hero__body
      .hero__left
        - var title = parseTitle(data.title, 1);
        h1.hero__title !{title}
        p.hero__text #{data.text}
        .hero__buttons
          +button(data.primaryBtn.href)(class='hero__btn primary') #{data.primaryBtn.text}
          +button(data.secondaryBtn.href, false)(class='hero__btn secondary') #{data.secondaryBtn.text}
              +svgIcon('arrow-right')(class='hero__arrow-right')
      .hero__right
        - var alt = getAlt(data.avatarUrl);

        img.hero__avatar(src=data.avatarUrl,alt=alt)
        .hero__bottom
            h6 Trusted by
                ul.brands
                    each val in data.trustedBy
                      li.brand.brands__item
                        a.brand__link(href=val.href)
                            - var alt = getAlt(val.imageUrl)
                            img.brand__img(src=val.imageUrl alt=alt)
